@using lecture_1.Classes

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    var vrFormatted = ((int)Model.rank).ToString("N0");
    <h1>@vrFormatted</h1>
}


@{
    //var vrFormatted2 = ((int)Model.Rank).ToString("N0"); this would throw run time error RuntimeBinderException since there is not field or property  named as Rank
    @*<h1>@vrFormatted2</h1>*@
}

<div>time before Component.InvokeAsync @DateTime.Now</div>

@Component.InvokeAsync(nameof(testComponent), new { idOfProduct = 321 , delay = false })

<div>time before await Component.InvokeAsyncc @DateTime.Now</div>

@await Component.InvokeAsync(nameof(testComponent), new { idOfProduct = 321, delay = false })

here we are async calling view component with ajax

<div>time before ajax @DateTime.Now</div>

<script>
    $.get("/product/GetMyViewComponent?idofproduct=38132012&delay=true", function (data) {
        $(document.body).append(data);
    });
</script>

<div>time after ajax @DateTime.Now</div>