@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<h1>Lecture 9 Main Page</h1>

@model lecture_9.Models.Lecture9

@using (var form = Html.BeginForm("updateLecture9Model", "Lecture9"))
{

    <div>
        @Html.LabelFor(m => m.irUserId)
        @Html.TextBoxFor(m => m.irUserId)
        @Html.ValidationMessageFor(m => m.irUserId)
    </div>
    <div>
        @Html.LabelFor(m => m.srFirstName)
        @Html.TextBoxFor(m => m.srFirstName, null, new { @placeholder = "enter your name" })
        @Html.ValidationMessageFor(m => m.srFirstName)
    </div>
    <div>
        @Html.LabelFor(m => m.srLastName)
        @Html.TextBoxFor(m => m.srLastName)
        @Html.ValidationMessageFor(m => m.srLastName)
    </div>
    <div>
        @Html.LabelFor(m => m.srEmail)
        @Html.TextBoxFor(m => m.srEmail)


        @Html.LabelFor(m => m.srEmailRepeated)
        @Html.TextBoxFor(m => m.srEmailRepeated)
        <br />
        <span style="background-color:blueviolet">  @Html.ValidationMessageFor(m => m.srEmail)</span>
    </div>

    <div>
        @Html.LabelFor(m => m.dtBirthDay)
        @Html.TextBoxFor(m => m.dtBirthDay, "{0:yyyy-MM-dd}", new { type = "date" })
        @Html.ValidationMessageFor(m => m.dtBirthDay)
    </div>



    <input type="submit" value="Submit" />

    <div>
        @Html.ValidationSummary()
    </div>
}

@if (Model.srPostMessage != null)
{
    <div style="color:red;">@Model.srPostMessage</div>
}


<form method="post" asp-controller="Lecture9" asp-action="updateLecture9Model">

    <div>
        <label asp-for="irUserId"></label>   <input value="@Model.irUserId" asp-for="irUserId" placeholder="please enter user id" />
        <span asp-validation-for="irUserId" style="color: red;"></span>
    </div>

    <div>
        <label asp-for="srFirstName"></label>   <input value="@Model.srFirstName" asp-for="srFirstName" placeholder="please enter your first name" />
        <span asp-validation-for="srFirstName" style="color: red;"></span>
    </div>

    <div>
        <label asp-for="srLastName"></label>   <input value="@Model.srLastName" asp-for="srLastName" />
        <span asp-validation-for="srLastName" style="color: red;"></span>
    </div>

    <div>
        <label asp-for="srEmail"></label>   <input value="@Model.srEmail" asp-for="srEmail" />
        <span asp-validation-for="srEmail" style="color: red;"></span>

        <label asp-for="srEmailRepeated"></label>   <input value="@Model.srEmailRepeated" asp-for="srEmailRepeated" />
        <span asp-validation-for="srEmailRepeated" style="color: red;"></span>
    </div>

    <div>
        <label asp-for="dtBirthDay"></label>   <input type="date" value="@Model.dtBirthDay.ToString("yyyy-MM-dd")" asp-for="dtBirthDay" />
        <span asp-validation-for="dtBirthDay" style="color: red;"></span>
    </div>

    <br />
    <input type="submit" value="add user" />

    <div asp-validation-summary="All"></div>
</form>

@if (Model.srPostMessage != null)
{
    <div style="color:red;">@Model.srPostMessage</div>
}